<div class="panel panel-success">
	<div class="panel-heading">
		
		<%= link_to edit_task_path(task) do %>
		<i class="fa fa-pencil-square-o"></i> created <%= time_ago_in_words(task.created_at) %> ago
		<% end %>
	
     <%= link_to "  <i class='fa fa-trash-o'></i>".html_safe, task_path(task), method: :delete, data: {confirm: "Are You Sure?"}, class: "pull-right" %>
 
	</div>
	<div class="panel-body"><%= task.content %></div>
	<div class="panel-footer text-center" >
		<% if task.state == "doing" %>
		<%= link_to "<i class='fa fa-arrow-circle-left fa-lg' ></i>".html_safe, change_task_path(task, state: "to_do"), method: :put %>
		<%= link_to "<i class='fa fa-arrow-circle-right fa-lg'></i>".html_safe, change_task_path(task, state: "done"), method: :put %>
		<% elsif task.state == "done" %>
		<%= link_to "<i class='fa fa-arrow-circle-left fa-lg'></i>".html_safe, change_task_path(task, state: "doing"), method: :put %>
		<% else %>
		<%= link_to "<i class='fa fa-arrow-circle-right fa-lg'></i>".html_safe, change_task_path(task, state: "doing"), method: :put %>
		<% end %>
	</div>
</div>
